.DS_Store

###BACKEND
backend/*.swp
backend/*.*~
backend/project.lock.json
backend/.DS_Store
backend/*.pyc

# Visual Studio Code
#.vscode

# User-specific files
backend/*.suo
backend/*.user
backend/*.userosscache
backend/*.sln.docstates

# Build results
backend/[Dd]ebug/
backend/[Dd]ebugPublic/
backend/[Rr]elease/
backend/[Rr]eleases/
backend/x64/
backend/x86/
backend/build/
backend/bld/
backend/[Bb]in/
backend/[Oo]bj/
backend/msbuild.log
backend/msbuild.err
backend/msbuild.wrn
backend/src/*/[Bb]in
backend/src/*/[Oo]bj
backend/src/*/obj/[Dd]ebug

# Visual Studio 2015
backend/.vs/

###FRONTEND

# dependencies
frontend/loja/node_modules
frontend/loja/.pnp
frontend/loja/.pnp.js

# testing
frontend/loja/coverage

# production
frontend/loja/build

# misc
frontend/loja/.DS_Store
frontend/loja/.env.local
frontend/loja/.env.development.local
frontend/loja/.env.test.local
frontend/loja/.env.production.local

frontend/loja/npm-debug.log*
frontend/loja/yarn-debug.log*
frontend/loja/yarn-error.log*
